################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MDToBBCode/FileContentIndex
/.vs/MDToBBCode/v17
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
